<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @* Below we are calling NavBar partial view created by us
        and also showing how we can pass a model to it.
        If you have specified a model on top then it will automatically passed
        Now suppose I want to pass only a movie instead of entire viewmodel
    *@
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @*Since Jquery and Bootstrap is required on all most
        all pages so let us consolidate these bundles and replace below with
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        Replaced with @Scripts.Render("~/bundles/lib")
    *@
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
